html {
    height: 100dvh;
    overflow: hidden;
}

body {
    background-color: rgba(88, 109, 213, 0.98);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100dvh;
}

header {
    /* height: clamp(120px, 8vw + 20px, 156px); */
    height: 150px;
    background-color: rgb(49, 66, 155);
    padding: 0 calc((100% - 1440px)/2);
    flex-shrink: 0;
    font-size: clamp(30px, 0.9286rem + 2.8571vw, 560px);
    color: rgb(255, 203, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header h1 {
    padding-inline-start: 24px;
    font-family: 'LuckiestGuy';
}

search {
    height: 100%;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input_search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    height: 70%;
}

.search_buttons {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

input {
    padding: 8px;
    width: 240px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: border-color 0.2s ease;
}

input:focus {
    border: solid 2px rgb(255, 203, 5);
}

.search_section_button {
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0 0 0;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: rgb(255, 203, 5);
    border-radius: 8px;
    border: 1px solid #ffaa22;
    display: inline-flex;
    color: rgb(49, 66, 155);
    font-family: 'FiraSansRegular';
    font-size: 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.search_section_button:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
    cursor: pointer;
}

.search_section_button:active {
    position: relative;
    top: 1px;
}

.refresh {
    font-family: 'FiraSansBold';
    font-size: 26px;
}

#faulty_input {
    font-size: 22px;
    color: #ffab23;
    height: 30%;
    padding-bottom: 24px;
}

main {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 calc((100% - 1440px)/2);
}

main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-track {
    background: rgb(162, 175, 243);
}

main::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgb(255, 203, 5, 0.8);
}

main::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 231, 133, 0.8);
}

#load_more_section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.load_more_button {
    background: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.load_more_button:hover {
    cursor: pointer;
}

.load_more_button:active {
    position: relative;
    top: 1px;
}

.load_more_button img {
    background: none;
    height: 100%;
    width: 100%;
}

footer {
    flex-shrink: 0;
    height: 96px;
    background-color: rgb(49, 66, 155, 1.0);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#list_view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 36px auto;
    gap: 24px;
}

@media screen and (max-width: 800px) {
    header {
        padding-top: 24px;
        height: 220px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    search {
        padding-right: 0;
        gap: 8px;
    }

    .input_search {
        padding-top: 8px;
        height: 60px;
    }

    .search_section_button {
        width: 60px;
        height: 26px;
        font-size: 18px;
    }

    #faulty_input {
        padding-bottom: 4px;
        font-size: 20px;
    }

    .refresh {
        font-family: 'FiraSansBold';
        font-size: 20px;
    }
}

@media screen and (max-width: 560px) {
    header h1 {
        padding-left: 0px;
    }

    search {
        padding-right: 0px;
    }
}

@media screen and (max-width: 400px) {
    .pokemon_name {
        font-size: 28px;
    }

    .next_previous_button {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }

    #card_taps {
        gap: 0;
    }

    .evolution_img {
        padding-top: 10px;
        max-height: 80px;
        max-width: 90px;
    }

    .card_tap {
        width: 98px;
        height: 40px;
        gap: 2px;
    }

    .info_section table {
        padding-top: 12px;
        padding-left: 8px;
    }

      .input_search {
        height: 78px;
        margin-top: 6px;
        flex-direction: column;
        gap: 6px;
    }
}