* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: auto;
    text-decoration: none;
    word-break: normal;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url(/assets/fonts/LuckiestGuy-Regular.ttf);
}